@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;600&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
body,html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.admin-page {
  background-color: #212121;
  height: auto;
}